<!DOCTYPE html>
<html>
<head>
    <%- include('../components/head') %>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap');
        
        body {
          font-family: 'Lexend Deca', sans-serif;
        }
        
        .glass-card {
          background-color: rgba(255, 255, 255, 0.2);
          backdrop-filter: blur(10px);
        }
        
        .glass-input {
          background-color: rgba(255, 255, 255, 0.2);
          backdrop-filter: blur(5px);
        }
        
        .glass-input-btn {
          background-color: rgba(255, 255, 255, 0.2);
          backdrop-filter: blur(5px);
        }
        
        input[type="file"] {
          display: none;
        }
        
        /* Media query for smaller screens */
        @media (max-width: 768px) {
          .glass-card,
          .glass-input,
          .glass-input-btn {
            backdrop-filter: blur(2px);
          }
        }
    </style>
</head>
<body>
    <div class="min-h-screen flex items-center justify-center bg-gradient-to-br from-black via-black via-pink-800 via-black to-black">
        <div class="max-w-md w-full space-y-8">
          <h1 class="text-white text-5xl text-center">Howdy newbie!</h1>
          <form id="onboardingForm" class="glass-card rounded px-8 pt-6 pb-8 mb-4">
            <div class="mb-4">
                <label for="nickname" class="block text-white text-sm font-bold mb-2">Nickname *</label>
                <input type="text" id="nickname" value="<%= userinfo.global_name %>" name="nickname" required class="glass-input rounded w-full py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline">
              </div>
              <div class="mb-4">
                <label for="birthday" class="block text-white text-sm font-bold mb-2">Birthday *</label>
                <div class="relative rounded-md shadow-sm">
                  <input type="date" id="birthday" name="birthday" class="glass-input rounded w-full py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline">
                </div>
              </div>              
            <div class="mb-4">
              <label for="about" class="block text-white text-sm font-bold mb-2">About *</label>
              <textarea id="about" name="about" required class="glass-input rounded w-full py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline"></textarea>
            </div>
            <div class="mb-4">
                <label for="image" class="block text-white text-sm font-bold mb-2">BG Image URL:</label>
                <input type="text" id="image" name="image" class="glass-input rounded w-full py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline">
              </div>
              <input type="hidden" id="userId" name="userId" value="<%= userinfo.email %>">
            <div class="flex items-center justify-between text-center">
              <button type="submit" class="rounded w-full py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline ml-2 text-center bg-blue-700 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded">
                Begin The Journey!
              </button>
            </div>
          </form>
        </div>
      </div>
      <script>
        document.getElementById("onboardingForm").addEventListener("submit", async (event) => {
          event.preventDefault();
          
          const nickname = document.getElementById("nickname").value;
          const birthday = document.getElementById("birthday").value;
          const about = document.getElementById("about").value;
          const image = document.getElementById("image").value;
          const userId = document.getElementById("userId").value;
          
          const formData = {
            nickname,
            birthday,
            about,
            image,
            userId
          };
          
          try {
            console.log("Form Data:", formData);
             const response = await fetch("/complete-onboarding", {
               method: "POST",
               headers: {
                 "Content-Type": "application/json"
               },
               body: JSON.stringify(formData),
             });
             if (response.ok) {
               window.location.href = "/dashboard?err=COMPLETEDONBOARDING";
             } else {
               alert("Failed to complete onboarding. Please try again.");
             }
          } catch (error) {
            console.error("An error occurred while completing onboarding:", error);
            alert("An error occurred while completing onboarding. Please try again later.");
          }
        });
      </script>
</body>
</html>
