<head>
    <%- include('../components/head') %>
    <!-- Vector CSS -->
    <link href="../../../assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet"/>
    <!-- simplebar CSS-->
    <link href="../../../assets/plugins/simplebar/css/simplebar.css" rel="stylesheet"/>
    <!-- Bootstrap core CSS-->
    <link href="../../../assets/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- animate CSS-->
    <link href="../../../assets/css/animate.css" rel="stylesheet" type="text/css"/>
    <!-- Icons CSS-->
    <link href="../../../assets/css/icons.css" rel="stylesheet" type="text/css"/>
    <!-- Sidebar CSS-->
    <link href="../../../assets/css/sidebar-menu.css" rel="stylesheet"/>
    <!-- Custom Style-->
    <link href="../../../assets/css/app-style.css" rel="stylesheet"/>
  
  </head>
  <body>
    <!-- Start wrapper-->
    <div id="wrapper">
       <%- include('../components/sidebar') %>
       <%- include('../components/topnav') %>
       <div class="clearfix"></div>
       <div class="content-wrapper">
          <div class="container-fluid">
            <div class="row mt-3">
              <div class="col-lg-6">
                 <div class="card">
                    <div class="card-body">
                       <div class="card-title">Referral Code</div>
                       <hr>
                       <div>
                        <label for="referralCodeInput">Referral Code:</label>
                          <input type="text" id="code" class="form-control form-control-rounded" disabled/>
                      </div>                      
                    </div>
                 </div>
              </div>
              <div class="col-lg-6">
                <div class="card">
                  <div class="card-body">
                    <div class="card-title">Redeem Code</div>
                    <hr>
                    <div>
                      <label for="referralCode">Redeem Code:</label>
                      <input type="text" class="form-control form-control-rounded" id="referralCode" /><br>
                      <button class="btn btn-light btn-round px-5" onclick="redeemReferralCode()">Redeem Referral Code</button>
                    </div>
                  </div>
                </div>
              </div>
              <script>
                function redeemReferralCode() {
                  const referralCodeInput = document.getElementById('referralCode');
                  const referralCode = referralCodeInput.value;
                  
                  fetch('/referral/redeem', {
                    method: 'POST',
                    headers: {
                      'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ referralCode })
                  })
                  .then(response => response.json())
                  .then(data => {
                    if (data.success) {
                      toastr.success(data.message, 'Success!');
                    } else {
                      toastr.error(data.message, 'Error!');
                    }
                  })
                  .catch(error => {
                    console.error('Error:', error);
                  });
                }
              </script>
              
              <script> 
                function code() {
                  fetch('/referral/info')
                    .then(response => response.json())
                    .then(data => {
                      const referralCode = data.referralCode;
                      console.log('Referral Code:', referralCode);
                      document.getElementById('code').value = referralCode;
                    })
                    .catch(error => {
                      console.error('Error:', error);
                    });
                }
              
                code();
              </script>
              <%- include('../components/footer') %>
              
</div>
</div>
</div>
    </div>
  </body>
  <!--start overlay-->
  <div class="overlay toggle-menu"></div>
  <!--end overlay-->
  <!--Start Back To Top Button-->
  <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
  <!--End Back To Top Button-->
  <!-- Bootstrap core JavaScript-->
  <script src="../../../assets/js/jquery.min.js"></script>
  <script src="../../../assets/js/popper.min.js"></script>
  <script src="../../../assets/js/bootstrap.min.js"></script>
  <!-- simplebar js -->
  <script src="../../../assets/plugins/simplebar/js/simplebar.js"></script>
  <!-- sidebar-menu js -->
  <script src="../../../assets/js/sidebar-menu.js"></script>
  <!-- Custom scripts -->
  <script src="../../../assets/js/app-script.js"></script>