<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="https://media.discordapp.net/attachments/1135147336771850250/1140896240972861480/holaclient_5.png" type="image/x-icon">
    <link rel="icon" type="image/png" href="https://media.discordapp.net/attachments/1135147336771850250/1140896240972861480/holaclient_5.png">
    <title>403 | HolaClient</title>
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
        }
    </style>
</head>
<body class="bg-zinc-900 bg-cover bg-center backdrop-blur" style="background-image: url('https://r4.wallpaperflare.com/wallpaper/470/932/861/vector-planet-space-meteors-wallpaper-30f0e436d84a4692eefa19ed4e928199.jpg');">
    <div class="container flex items-center min-h-screen px-6 py-12 mx-auto">
        <div class="flex flex-col items-center mx-auto text-center">
            <h1 class="mt-3 font-semibold text-gray-800 font dark:text-white text-7xl">403<br><span class="text-2xl">You must be authenticated to visit this page.</span></h1>
            <span class="mt-3 font-semibold text-gray-800 font dark:text-white text-xl">HTTP_ERROR_403</span>
        </div>
    </div>
</body>
</html>