<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HolaClient</title>
    <link href="/assets/common/tailwind.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Karla&family=Rajdhani&display=swap');
        body { font-family: 'quicksand'; overflow-x: hidden; }
        .font-karla { font-family: 'karla' }
        .font-rajdhani { font-family: 'rajdhani' }
    </style>
</head>
<body class="bg-zinc-950 flex flex-col items-center justify-center h-screen">
    <div class="bg-zinc-950 flex flex-col items-center justify-center h-screen">
        <h1 class="text-transparent text-4xl md:text-9xl font-bold font-karla bg-gradient-to-br from-white to-transparent bg-clip-text">403</h1>
        <span class="text-gray-200 text-3xl md:text-5xl font-rajdhani">YOU'RE BANNED!</span>
        <span class="max-w-sm text-xl font-rajdhani text-center text-gray-300">You're forbidden from visiting this site. If you need assistance, please feel free to <a class="text-sky-400" href="https://discord.gg/CvqRH9TrYK">contact us</a>.</span>
        <div class="mt-4 rounded-xl p-4 border border-zinc-800/80 bg-zinc-900/50 w-full max-w-sm md:max-w-md">
            <div class="flex justify-between items-center font-rajdhani w-full">
                <span class="text-gray-400">Duration:</span>
                <span class="text-gray-300">Permanent</span>
            </div>
            <div class="flex justify-between items-center font-rajdhani w-full">
                <span class="text-gray-400">Reason:</span>
                <span class="text-gray-300">---</span>
            </div>
        </div>
    </div>
</body>