<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HolaClient</title>
    <link href="/assets/common/tailwind.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Karla&family=Rajdhani&display=swap');
        body { font-family: 'quicksand'; overflow-x: hidden; }
        .font-karla { font-family: 'karla' }
        .font-rajdhani { font-family: 'rajdhani' }
    </style>
</head>
<body class="bg-zinc-950 flex flex-col items-center justify-center h-screen">
    <div class="bg-zinc-950 flex flex-col items-center justify-center h-screen">
        <h1 class="text-transparent text-4xl md:text-9xl font-bold font-karla bg-gradient-to-br from-white to-transparent bg-clip-text">SERVICE UNAVAILABLE</h1>
        <span class="text-gray-200 text-3xl font-rajdhani">WE'RE DOWN FOR MAINTENANCE!</span>
        <span class="max-w-sm text-xl font-rajdhani text-center text-gray-300">Sorry, the application is under maintenance mode and will not support any of its services. If you need assistance, please feel free to <a class="text-sky-400" href="https://discord.gg/CvqRH9TrYK">contact us</a>.</span>
    </div>
</body>