
<footer style="background-color: rgba(0,0,0,.2);" class="footer">
   <div style="display: flex; justify-content: space-between; align-items: center;">
      <div style="display: flex; align-items: center;">
         <small style="color: white; font-weight: 100; font-size: 14px;">
            &copy; <script>document.write(new Date().getFullYear());</script> <a style="color: aquamarine; font-weight: 100; font-size: 14px;" href="<%= settings.discord %>"><%= settings.name %></a>
            | Powered by <a style="color: aquamarine; font-weight: 100; font-size: 14px;" href="https://github.com/CR072/holaclient">HolaClient v<%= settings.version %></a>
         </small>
      </div>
      <div>
         <a href="./tos">
         <button style="color: aquamarine; background-color: transparent; border: none; cursor: pointer; font-size: 14px;">Terms of Service</button>
         </a>
         <a href="./pp">
         <button style="color: aquamarine; background-color: transparent; border: none; cursor: pointer; font-size: 14px;">Privacy Policy</button>
         </a>
      </div>
   </div>
</footer>
