<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Denied</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
</head>
<style>
    body {
    background-image: url('https://images.alphacoders.com/777/777158.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'nunito';
    @media (max-width: 768px) {
      background-size: cover;
    }
  }
</style>
<body class="h-screen flex flex-col justify-center items-center">
    <div class="bg-zinc-900 p-6 rounded-lg shadow-lg text-center">
        <h1 class="text-3xl font-semibold text-red-500 mb-4 animate-pulse">Access Denied!</h1>
        <p class="text-white lg:text-xl">Sorry, access from your country is restricted.</p>
    </div>
</body>