<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HolaClient | Setup</title>
        <% if (installed == true) { %>
            <script>
                window.location.href = "/";
            </script>
        <% } %>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Nunito&family=Urbanist&display=swap');
        
            body {
                font-family: 'urbanist'
            }
        
            .font-nunito {
                font-family: 'nunito'
            }
            @keyframes blob {
            0% {
                transform: translate(0px, 0px) scale(0);
            }

            50% {
                transform: translate(0px, 0px) scale(5);
            }

            100% {
                transform: translate(0px, 0px) scale(0);
            }
        }

        .animation-blob {
            animation: blob 10s infinite;
        }

        ::selection {
            background: transparent
        }

        ::-webkit-scrollbar-thumb {
            background-color: transparent;
            border-radius: 3px;
        }
        @keyframes word {
    0% {
        transform: translateY(100%);
    }

    15% {
        transform: translateY(-10%);
        animation-timing-function: ease-out;
    }

    20% {
        transform: translateY(0);
    }

    40%,
    100% {
        transform: translateY(-110%);
    }
}

.animate-word {
    animation: word 7s infinite;
}

.animate-word-delay-1 {
    animation: word 7s infinite;
    animation-delay: -1.4s;
}

.animate-word-delay-2 {
    animation: word 7s infinite;
    animation-delay: -2.8s;
}

.animate-word-delay-3 {
    animation: word 7s infinite;
    animation-delay: -4.2s;
}

.animate-word-delay-4 {
    animation: word 7s infinite;
    animation-delay: -5.6s;
}
        </style>
    </head>
<body class="bg-zinc-950 overflow-hidden justify-center flex items-center h-screen">
    <div class="text-center p-4relative">
        <div class="relative text-3xl inline-grid grid-cols-1 grid-rows-1 gap-12 overflow-hidden">
            <span class="animate-word col-span-full row-span-full bg-gradient-to-r bg-clip-text text-transparent from-pink-500 via-sky-500 to-violet-500 hover:from-sky-500 hover:via-violet-500 hover:to-amber-500 transition duration-1000 ease-in-out">Amazing features</span>
            <span class="animate-word-delay-1 col-span-full row-span-full bg-gradient-to-r bg-clip-text text-transparent from-pink-500 via-sky-500 to-violet-500 hover:from-sky-500 hover:via-violet-500 hover:to-amber-500 transition duration-1000 ease-in-out">Outstanding Performance</span>
            <span class="animate-word-delay-2 col-span-full row-span-full bg-gradient-to-r bg-clip-text text-transparent from-pink-500 via-sky-500 to-violet-500 hover:from-sky-500 hover:via-violet-500 hover:to-amber-500 transition duration-1000 ease-in-out">Incredible Experience</span>
            <span class="animate-word-delay-3 col-span-full row-span-full bg-gradient-to-r bg-clip-text text-transparent from-pink-500 via-sky-500 to-violet-500 hover:from-sky-500 hover:via-violet-500 hover:to-amber-500 transition duration-1000 ease-in-out">Inevitable security</span>
            <span class="animate-word-delay-4 col-span-full row-span-full bg-gradient-to-r bg-clip-text text-transparent from-pink-500 via-sky-500 to-violet-500 hover:from-sky-500 hover:via-violet-500 hover:to-amber-500 transition duration-1000 ease-in-out font-nunito">Its fucking HolaClient!</span>
          </div>
        <h1 class="text-6xl text-white font-nunito font-bold mb-4">HolaClient Setup</h1>
        <div class="relative mt-12 group w-full h-max shadow-2xl shadow-transparent/40">
            <div class="absolute -inset-1 bg-gradient-to-r from-[#ee0979] to-[#ff6a00] rounded-lg blur opacity-25 group-hover:opacity-100 transition duration-1000 group-hover:duration-200"></div>
            <button data-modal-target="updates-modal" data-modal-toggle="updates-modal" type="button" class="text-white w-full relative shadow-md bg-gradient-to-r from-[#ee0979] to-[#ff6a00] font-medium rounded-lg text-lg p-2 text-center outline-none">Authenticate</button>
            </div>
    </div>
  
    <div id="auth-modal" id="authh" tabindex="2" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-[60] justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-md max-h-full">
            <div class="relative rounded-lg shadow bg-zinc-900">
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t border-gray-600">
                    <h3 class="text-lg font-semibold text-white">
                        HolaClient session authentication key
                    </h3>
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm h-8 w-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="auth-modal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <div class="p-4 md:p-5">
                    <input id="token" type="text" class="bg-zinc-700 mb-4 outline-none text-gray-200 focus:pl-3 focus:duration-500 duration-500 rounded-lg p-2 w-full focus:bg-zinc-800 border border-zinc-800 focus:border-zinc-700">
                    <button onclick="auth()" class="text-white inline-flex w-full justify-center focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">
                        Continue
                    </button>
                </div>
            </div>
        </div>
    </div>
  
  <div id="updates-modal" id="updatess" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative p-4 w-full max-w-md max-h-full">
          <div class="relative rounded-lg shadow bg-zinc-900">
              <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t border-gray-600">
                  <h3 class="text-lg font-semibold text-white">
                      HolaClient updates channel
                  </h3>
                  <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm h-8 w-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="updates-modal">
                      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                      </svg>
                      <span class="sr-only">Close modal</span>
                  </button>
              </div>
              <div class="p-4 md:p-5">
                  <ul class="space-y-4 mb-4">
                      <li>
                          <input type="radio" id="job-1" name="job" value="job-1" class="hidden peer" required>
                          <label for="job-1" class="inline-flex items-center justify-between w-full p-5 borderrounded-lg cursor-pointer hover:text-gray-200 border-gray-500 peer-checked:bg-zinc-800 peer-checked:text-white  text-gray-300 rounded-lg bg-zinc-700 hover:bg-zinc-800">                           
                              <div class="block">
                                  <div class="w-full text-lg font-semibold">Stable</div>
                                  <div class="w-full text-gray-400">Relatively less bugs & robust security.</div>
                              </div>
                              <svg class="w-4 h-4 ms-3 rtl:rotate-180 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/></svg>
                          </label>
                      </li>
                      <li>
                          <input type="radio" id="job-2" name="job" value="job-2" class="hidden peer">
                          <label for="job-2" class="inline-flex items-center justify-between w-full p-5 borderrounded-lg cursor-pointer hover:text-gray-200 border-gray-500 peer-checked:bg-zinc-800 peer-checked:text-white  text-gray-300 rounded-lg bg-zinc-700 hover:bg-zinc-800">
                              <div class="block">
                                  <div class="w-full text-lg font-semibold">Beta</div>
                                  <div class="w-full text-gray-400">A tested but not yet production ready updates.</div>
                              </div>
                              <svg class="w-4 h-4 ms-3 rtl:rotate-180 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/></svg>
                          </label>
                      </li>
                      <li>
                          <input type="radio" id="job-3" name="job" value="job-3" class="hidden peer">
                          <label for="job-3" class="inline-flex items-center justify-between w-full p-5 borderrounded-lg cursor-pointer hover:text-gray-200 border-gray-500 peer-checked:bg-zinc-800 peer-checked:text-white  text-gray-300 rounded-lg bg-zinc-700 hover:bg-zinc-800">
                              <div class="block">
                                  <div class="w-full text-lg font-semibold">Insider</div>
                                  <div class="w-full text-gray-400">Explore non-tested, bug-packed versions to be among the first to experience upcoming features.</div>
                              </div>
                              <svg class="w-4 h-4 ms-3 rtl:rotate-180 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/></svg>
                          </label>
                      </li>
                  </ul>
                  <button data-modal-target="auth-modal" data-modal-toggle="auth-modal" class="text-white inline-flex w-full justify-center focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">
                      Next step
                  </button>
              </div>
          </div>
      </div>
  </div>
<script>
    async function auth() {
        let token = document.getElementById('token').value;
        let resp = await fetch('/api/setup/auth', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                token: token
            })
        });
        let data = await resp.json();
        
        if (data.success == true) {
            toastr.success("Successfully authenticated!")
            const expDate = new Date();
            expDate.setTime(expDate.getTime() + 60 * 60 * 1000)
            document.cookie = `token=${token}; expires=${expDate.toUTCString()}; path=/`;
            window.location.href='/setup/basic';
        } else {
            toastr.error("Invalid session token!")
        }
    }
</script>
</body>
</html>