<%- include('./partials/head') %>

<body class="bg-zinc-950 relative items-center h-full">
    <div class="w-screen overflow-hidden">
        <div class="antialiased">
            <%- include('./partials/nav') %>
            <%- include('./partials/aside') %>
            <main
            class="p-4 md:ml-64 z-20 -mt-[58px] max-w-full pt-40 md:pt-20 max-h-full min-h-screen shadow-2xl shadow-black backdrop-blur-sm">
            <div id="content">
                <div class="flex h-full justify-between items-center w-full">
                    <div class="flex space-x-4 items-center">
                        <div
                            class="bg-zinc-800/50 h-max w-max group-hover:bg-zinc-900/50 group-hover:border-zinc-700 border border-zinc-800/80 backdrop-blur-3xl shadow text-gray-400 rounded-xl p-3">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="w-6 h-6">
                                <path fill-rule="evenodd"
                                    d="M1.5 6.375c0-1.036.84-1.875 1.875-1.875h17.25c1.035 0 1.875.84 1.875 1.875v3.026a.75.75 0 0 1-.375.65 2.249 2.249 0 0 0 0 3.898.75.75 0 0 1 .375.65v3.026c0 1.035-.84 1.875-1.875 1.875H3.375A1.875 1.875 0 0 1 1.5 17.625v-3.026a.75.75 0 0 1 .374-.65 2.249 2.249 0 0 0 0-3.898.75.75 0 0 1-.374-.65V6.375Zm15-1.125a.75.75 0 0 1 .75.75v.75a.75.75 0 0 1-1.5 0V6a.75.75 0 0 1 .75-.75Zm.75 4.5a.75.75 0 0 0-1.5 0v.75a.75.75 0 0 0 1.5 0v-.75Zm-.75 3a.75.75 0 0 1 .75.75v.75a.75.75 0 0 1-1.5 0v-.75a.75.75 0 0 1 .75-.75Zm.75 4.5a.75.75 0 0 0-1.5 0V18a.75.75 0 0 0 1.5 0v-.75ZM6 12a.75.75 0 0 1 .75-.75H12a.75.75 0 0 1 0 1.5H6.75A.75.75 0 0 1 6 12Zm.75 2.25a.75.75 0 0 0 0 1.5h3a.75.75 0 0 0 0-1.5h-3Z"
                                    clip-rule="evenodd" />
                            </svg>
                        </div>
                        <div class="flex flex-col justify-between w-full">
                            <h1 class="text-gray-200 font-semibold text-xl">Ticket - 1</h1>
                            <span class="text-gray-300 text-md">Unable to create servers on SG.PREM.02</span>
                        </div>
                    </div>
                    <div class="flex space-x-2">
                        <button
                            class="bg-rose-700/50 backdrop-blur-3xl border border-rose-700 text-rose-400 hover:opacity-80 hover:duration-300 duration-300 rounded-full p-2 w-max h-max items-center justify-center">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                        </button>
                        <button
                            class="bg-emerald-700/50 backdrop-blur-3xl border border-emerald-700 text-emerald-400 hover:opacity-80 hover:duration-300 duration-300 rounded-full p-2 w-max h-max items-center justify-center">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M10.343 3.94c.09-.542.56-.94 1.11-.94h1.093c.55 0 1.02.398 1.11.94l.149.894c.07.424.384.764.78.93.398.164.855.142 1.205-.108l.737-.527a1.125 1.125 0 0 1 1.45.12l.773.774c.39.389.44 1.002.12 1.45l-.527.737c-.25.35-.272.806-.107 1.204.165.397.505.71.93.78l.893.15c.543.09.94.559.94 1.109v1.094c0 .55-.397 1.02-.94 1.11l-.894.149c-.424.07-.764.383-.929.78-.165.398-.143.854.107 1.204l.527.738c.32.447.269 1.06-.12 1.45l-.774.773a1.125 1.125 0 0 1-1.449.12l-.738-.527c-.35-.25-.806-.272-1.203-.107-.398.165-.71.505-.781.929l-.149.894c-.09.542-.56.94-1.11.94h-1.094c-.55 0-1.019-.398-1.11-.94l-.148-.894c-.071-.424-.384-.764-.781-.93-.398-.164-.854-.142-1.204.108l-.738.527c-.447.32-1.06.269-1.45-.12l-.773-.774a1.125 1.125 0 0 1-.12-1.45l.527-.737c.25-.35.272-.806.108-1.204-.165-.397-.506-.71-.93-.78l-.894-.15c-.542-.09-.94-.56-.94-1.109v-1.094c0-.55.398-1.02.94-1.11l.894-.149c.424-.07.765-.383.93-.78.165-.398.143-.854-.108-1.204l-.526-.738a1.125 1.125 0 0 1 .12-1.45l.773-.773a1.125 1.125 0 0 1 1.45-.12l.737.527c.35.25.807.272 1.204.107.397-.165.71-.505.78-.929l.15-.894Z" />
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="w-full bg-zinc-900 px-5 rounded-full h-0.5 my-4"></div>
                <div class="w-full items-center flex justify-center">
                    <div class="rounded-full px-5 py-2 my-2 bg-zinc-900/50 border-zinc-900 text-gray-200">Yesterday
                    </div>
                </div>
                <div class="grid min-h-80 relative h-full grid-cols-1 gap-4 w-full">
                    <div class="flex relative space-x-2 items-start">
                        <img class="object-cover top-0 aspect-square w-12 start-6 rounded-xl"
                            src="https://cdn.discordapp.com/avatars/863452735998656512/a_2990babbb1ca4fe3242456e5720990a6">
                        <div class="flex flex-col">
                            <div class="flex items-center space-x-2">
                                <h1 class="text-gray-200 text-md">Typo</h1>
                                <span class="text-gray-300 text-sm">Yesterday at 18:30</span>
                            </div>
                            <div class="flex flex-col bg-zinc-900 rounded-xl">
                                <div class="grow px-4 py-2">
                                    <p class="text-gray-100">
                                        Greetings CR072,<br>
                                        Our SG.02 server is currently under maintenance, please check our status
                                        page for more details. Is there anything else that I can help with?
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex relative space-x-2 items-start">
                        <img class="object-cover top-0 aspect-square w-12 start-6 rounded-xl"
                            src="https://cdn.discordapp.com/avatars/863452735998656512/a_2990babbb1ca4fe3242456e5720990a6">
                        <div class="flex flex-col">
                            <div class="flex items-center space-x-2">
                                <h1 class="text-gray-200 text-md">Typo</h1>
                                <span class="text-gray-300 text-sm">Yesterday at 18:30</span>
                            </div>
                            <div class="flex flex-col bg-zinc-900 rounded-xl">
                                <div class="grow px-4 py-2">
                                    <p class="text-gray-100">
                                        Greetings CR072,<br>
                                        Our SG.02 server is currently under maintenance, please check our status
                                        page for more details. Is there anything else that I can help with?
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex relative space-x-2 items-start">
                        <img class="object-cover top-0 aspect-square w-12 start-6 rounded-xl"
                            src="https://cdn.discordapp.com/avatars/863452735998656512/a_2990babbb1ca4fe3242456e5720990a6">
                        <div class="flex flex-col">
                            <div class="flex items-center space-x-2">
                                <h1 class="text-gray-200 text-md">Typo</h1>
                                <span class="text-gray-300 text-sm">Yesterday at 18:30</span>
                            </div>
                            <div class="flex flex-col bg-zinc-900 rounded-xl">
                                <div class="grow px-4 py-2">
                                    <p class="text-gray-100">
                                        Greetings CR072,<br>
                                        Our SG.02 server is currently under maintenance, please check our status
                                        page for more details. Is there anything else that I can help with?
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="bottom-0 mt-40 sticky w-full items-center flex justify-between bg-zinc-900 rounded-xl p-2">
                    <div class="rounded-full w-full flex items-center space-x-2 text-gray-300 p-1 bg-zinc-900/80">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                        </svg>
                        <input placeholder="Send a message..." type="text"
                            class="bg-transparent outline-none w-full text-gray-200">
                    </div>
                </div>
            </div>
        </main>
            <%- include('./partials/footer') %>
        </div>
    </div>
    </div>
</body>
</html>