<%- include('../partials/head') %>

<body class="bg-zinc-950 relative items-center h-full">
    <div class="w-screen overflow-hidden">
        <div class="antialiased">
            <%- include('../partials/nav') %>
            <%- include('../partials/aside') %>
            <main
                class="p-4 md:ml-64 z-20 -mt-[58px] max-w-full pt-40 md:pt-20 max-h-full min-h-screen shadow-2xl shadow-black backdrop-blur-sm">
                <div id="content">
                    <div class="relative w-full h-full min-h-screen rounded-xl -mt-[96px] md:pt-20 flex flex-col items-center justify-center">
                        <h1 class="text-gray-100 font-bold font-rajdhani text-2xl md:text-4xl">Server is Installing...</h1>
                        <p class="text-gray-200 text-center pt-4 font-rajdhani text-lg max-w-md">This server is currently installing! Please try again later.</p>
                        <div class="absolute opacity-30 blur-[1px] -z-20 border border-zinc-800/80 rounded-full p-8 bg-zinc-900/40">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-24 h-24 text-gray-400">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
                              </svg>                              
                        </div>
                    </div>
                </div>
            </main>
            <%- include('../partials/footer') %>
        </div>
    </div>
    </div>
</body>
</html>