<%- include('../../partials/head') %>

<body class="bg-zinc-950 relative items-center h-full">
    <div class="w-screen overflow-hidden">
        <div class="antialiased">
            <%- include('../../partials/nav') %>
            <%- include('../../partials/aside') %>
            <main
            class="p-4 md:ml-64 z-20 -mt-[58px] max-w-full pt-40 md:pt-20 max-h-full min-h-screen shadow-2xl shadow-black backdrop-blur-sm">
            <div id="content">
                <img src="https://cdn.holaclientx.tech/logo.png" onload="invoices()" alt="" class="w-0 h-0">
                <div class="flex justify-between items-center w-full">
                    <div class="flex space-x-4 items-center">
                        <div
                            class="bg-zinc-800/50 h-max w-max group-hover:bg-zinc-900/50 group-hover:border-zinc-700 border border-zinc-800/80 backdrop-blur-3xl shadow text-gray-400 rounded-xl p-3">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                <path fill-rule="evenodd" d="M12 1.5c-1.921 0-3.816.111-5.68.327-1.497.174-2.57 1.46-2.57 2.93V21.75a.75.75 0 0 0 1.029.696l3.471-1.388 3.472 1.388a.75.75 0 0 0 .556 0l3.472-1.388 3.471 1.388a.75.75 0 0 0 1.029-.696V4.757c0-1.47-1.073-2.756-2.57-2.93A49.255 49.255 0 0 0 12 1.5Zm3.53 7.28a.75.75 0 0 0-1.06-1.06l-6 6a.75.75 0 1 0 1.06 1.06l6-6ZM8.625 9a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Zm5.625 3.375a1.125 1.125 0 1 0 0 2.25 1.125 1.125 0 0 0 0-2.25Z" clip-rule="evenodd" />
                              </svg>                                  
                        </div>
                        <div class="flex flex-col justify-between w-full">
                            <h1 class="text-gray-200 font-semibold text-xl">Invoices</h1>
                            <span class="text-gray-300 text-md">Manage active & inactive invoices.</span>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col bg-zinc-900/50 border border-zinc-800/80 text-white rounded-xl mt-4">
                    <div class="flex flex-wrap items-center rounded-xl justify-between overflow-auto gap-4">
                        <table class="w-full table-fixed overflow-x-scroll rounded-xl max-md:min-w-[70rem]">
                            <thead class="border-b text-gray-200 border-zinc-800 rounded-xl overflow-hidden bg-zinc-950">
                                <th class="p-4 font-normal text-left">
                                    Transaction
                                </th>
                                <th class="p-4 font-normal text-right">
                                    Price
                                </th>
                                <th class="p-4 font-normal text-right">
                                    ID
                                </th>
                                <th class="p-4 font-normal text-right">
                                    User
                                </th>
                                <th class="p-4 font-normal text-right">
                                    Created
                                </th>
                                <th class="p-4 font-normal text-right">
                                    Paid
                                </th>
                                <th class="p-4 font-normal text-right">
                                    Status
                                </th>
                            </thead>
                            <tbody class="w-full" id="invoicesHolder">
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
            <%- include('../../partials/footer') %>
        </div>
    </div>
    </div>
</body>
</html>