<%- include('../partials/head') %>

<body class="bg-zinc-950 relative items-center h-full">
    <div class="w-screen overflow-hidden">
        <div class="antialiased">
            <%- include('../partials/nav') %>
            <%- include('../partials/aside') %>
            <main
            class="p-4 md:ml-64 z-20 -mt-[58px] max-w-full pt-40 md:pt-20 max-h-full min-h-screen shadow-2xl shadow-black backdrop-blur-sm">
            <div id="content">
                <img src="https://cdn.holaclientx.tech/logo.png" alt="l" onload="updates()" class="w-0 h-0">
                <div class="flex space-x-4 items-center">
                    <div
                        class="bg-zinc-800/50 h-max w-max group-hover:bg-zinc-900/50 group-hover:border-zinc-700 border border-zinc-800/80 shadow text-gray-400 rounded-xl p-3">
                        <svg class="w-6 h-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 3.5C4 2.67157 4.67157 2 5.5 2C6.32843 2 7 2.67157 7 3.5V14.5C7 15.3284 6.32843 16 5.5 16C4.67157 16 4 15.3284 4 14.5V3.5Z" fill="#D9D9D9"/>
                            <path d="M5.52549 16.0638C4.69709 16.0708 4.01982 15.405 4.01277 14.5766C4.00572 13.7482 4.67154 13.0709 5.49994 13.0639L12.1087 13.0076C12.9371 13.0005 13.6144 13.6664 13.6214 14.4948C13.6285 15.3232 12.9626 16.0004 12.1342 16.0075L5.52549 16.0638Z" fill="#D9D9D9"/><rect x="4" y="18" width="4" height="4" rx="2" fill="#1E1E1E"/><rect x="17" y="2" width="3" height="4" rx="1.5" fill="#1E1E1E"/><rect x="17" y="8" width="3" height="14" rx="1.5" fill="#D9D9D9"/>
                            </svg>
                    </div>
                    <div class="flex flex-col justify-between w-full">
                        <h1 class="text-gray-200 font-semibold text-xl">Updates history</h1>
                        <span class="text-gray-300 text-md">History of all updates and its changelogs.</span>
                    </div>
                </div>
                <div class="w-full mt-8">
                    <div class="mt-4 w-full flex flex-col space-y-2" id="updatesHolder"></div>
                </div>
            </div>
        </main>
            <%- include('../partials/footer') %>
        </div>
    </div>
    </div>
</body>
</html>