<%- include('../partials/head') %>

<body class="bg-zinc-950 relative items-center h-full">
    <div class="w-screen overflow-hidden">
        <div class="antialiased">
            <%- include('../partials/nav') %>
            <%- include('../partials/aside') %>
            <main
            class="p-4 md:ml-64 z-20 -mt-[58px] max-w-full pt-40 md:pt-20 max-h-full min-h-screen shadow-2xl shadow-black backdrop-blur-sm">
            <div id="content">
                <div class="flex space-x-4 items-center">
                    <div
                        class="bg-zinc-800/50 h-max w-max group-hover:bg-zinc-900/50 group-hover:border-zinc-700 border border-zinc-800/80 shadow text-gray-400 rounded-xl p-3">
                        <svg class="w-6 h-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 3.5C4 2.67157 4.67157 2 5.5 2C6.32843 2 7 2.67157 7 3.5V14.5C7 15.3284 6.32843 16 5.5 16C4.67157 16 4 15.3284 4 14.5V3.5Z" fill="#D9D9D9"/>
                            <path d="M5.52549 16.0638C4.69709 16.0708 4.01982 15.405 4.01277 14.5766C4.00572 13.7482 4.67154 13.0709 5.49994 13.0639L12.1087 13.0076C12.9371 13.0005 13.6144 13.6664 13.6214 14.4948C13.6285 15.3232 12.9626 16.0004 12.1342 16.0075L5.52549 16.0638Z" fill="#D9D9D9"/><rect x="4" y="18" width="4" height="4" rx="2" fill="#1E1E1E"/><rect x="17" y="2" width="3" height="4" rx="1.5" fill="#1E1E1E"/><rect x="17" y="8" width="3" height="14" rx="1.5" fill="#D9D9D9"/>
                            </svg>
                    </div>
                    <div class="flex flex-col justify-between w-full">
                        <h1 class="text-gray-200 font-semibold text-xl">Updates</h1>
                        <span class="text-gray-300 text-md">Be up-to-date to prevent any issues.</span>
                    </div>
                </div>
                <div class="w-full mt-8">
                    <div class="mt-4 w-full flex flex-col space-y-2">
                        <div class="w-full bg-zinc-900/50 text-lg cursor-pointer text-gray-300 rounded-xl p-4 flex justify-between">
                            <div class="flex items-center space-x-2">
                                <svg class="w-6 h-6" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_76_189)">
                                    <path d="M12 5.25C11.4809 5.25 10.9733 5.09605 10.5417 4.80761C10.11 4.51917 9.77353 4.1092 9.57485 3.62955C9.37617 3.14989 9.32418 2.62209 9.42547 2.11289C9.52676 1.60369 9.77676 1.13596 10.1439 0.768846C10.511 0.401733 10.9787 0.151726 11.4879 0.0504398C11.9971 -0.0508464 12.5249 0.00113739 13.0046 0.199817C13.4842 0.398497 13.8942 0.73495 14.1826 1.16663C14.4711 1.59831 14.625 2.10583 14.625 2.625C14.6243 3.32097 14.3475 3.98821 13.8554 4.48033C13.3632 4.97246 12.696 5.24926 12 5.25Z" fill="#D9D9D9"/>
                                    <path d="M20.25 5.28748L20.2289 5.2931L20.2092 5.2992C20.1624 5.31232 20.1155 5.32639 20.0686 5.34092C19.1963 5.59686 14.9625 6.79029 11.9799 6.79029C9.20815 6.79029 5.35736 5.75904 4.12549 5.40889C4.00289 5.36148 3.87768 5.3211 3.75049 5.28795C2.85986 5.05357 2.25049 5.95826 2.25049 6.78514C2.25049 7.60404 2.98643 7.99404 3.72939 8.27389V8.28701L8.19283 9.68107C8.64893 9.85592 8.7708 10.0345 8.83033 10.1892C9.02393 10.6856 8.86924 11.6686 8.81439 12.0117L8.54252 14.1211L7.03361 22.38C7.02893 22.4025 7.02471 22.4255 7.02096 22.4489L7.01018 22.5084C6.90143 23.2655 7.45736 24 8.51018 24C9.42893 24 9.83439 23.3658 10.0102 22.5028C10.0102 22.5028 11.3227 15.1167 11.9789 15.1167C12.6352 15.1167 13.9871 22.5028 13.9871 22.5028C14.1628 23.3658 14.5683 24 15.4871 24C16.5427 24 17.0986 23.2622 16.9871 22.5028C16.9772 22.4381 16.9655 22.3744 16.9514 22.3125L15.4219 14.122L15.1505 12.0126C14.9541 10.784 15.1121 10.3781 15.1655 10.2829C15.1669 10.2807 15.1682 10.2784 15.1692 10.2759C15.2199 10.1822 15.4505 9.97217 15.9886 9.77014L20.1736 8.30717C20.1993 8.30032 20.2247 8.29219 20.2495 8.28279C20.9995 8.00154 21.7495 7.61248 21.7495 6.78607C21.7495 5.95967 21.1406 5.05357 20.25 5.28748Z" fill="#D9D9D9"/></g><defs><clipPath id="clip0_76_189"><rect class="w-6 h-6"/></clipPath></defs>
                                </svg>
                                <span>Automatically update</span>
                            </div>
                                <div class="w-max">
                                    <label class="relative inline-flex items-center cursor-pointer">
                                        <input id="auto" type="checkbox" value="" class="sr-only peer" disabled checked>
                                        <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                                      </label>
                                </div>
                        </div>
                        <div class="w-full bg-zinc-900/50 text-lg cursor-pointer text-gray-300 rounded-xl p-4 flex justify-between">
                            <div class="flex items-center space-x-2">
                                <svg class="w-6 h-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21.6 3.60003C21.6 3.18413 21.3847 2.79789 21.0309 2.57924C20.6771 2.3606 20.2353 2.34072 19.8633 2.52671L10.5167 7.20003H6C4.01178 7.20003 2.4 8.8118 2.4 10.8C2.4 12.7883 4.01178 14.4 6 14.4H6.3351L8.46159 20.7795C8.62493 21.2695 9.08349 21.6 9.60001 21.6H10.8C11.4628 21.6 12 21.0628 12 20.4V15.1417L19.8633 19.0733C20.2353 19.2593 20.6771 19.2395 21.0309 19.0208C21.3847 18.8022 21.6 18.4159 21.6 18V3.60003Z" fill="#D9D9D9"/>
                                    </svg>                                        
                                <span>Get the latest untested updates</span>
                            </div>
                                <div class="w-max">
                                    <label class="relative inline-flex items-center cursor-pointer">
                                        <input id="latest" type="checkbox" value="" class="sr-only peer" checked>
                                        <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                                      </label>
                                </div>
                        </div>
                        <div onclick="render('admin/updates/history')" class="w-full bg-zinc-900/50 text-lg hover:bg-zinc-900/80 hover:duration-300 duration-300 cursor-pointer text-gray-300 rounded-xl p-4 flex justify-between">
                            <div class="flex items-center space-x-2">
                                <svg class="w-6 h-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.7725 1.5285C12.5154 1.50952 12.2578 1.50002 12 1.5V4.22187e-07C12.2948 0.000144164 12.5895 0.0111516 12.8835 0.0330004L12.7725 1.5285ZM15.7785 2.2035C15.2977 2.01794 14.8038 1.86804 14.301 1.755L14.6295 0.291C15.2055 0.42 15.7685 0.591 16.3185 0.804L15.7785 2.2035ZM17.8335 3.2685C17.619 3.12546 17.3994 2.99037 17.175 2.8635L17.9145 1.5585C18.4274 1.84899 18.9183 2.17688 19.383 2.5395L18.4605 3.723C18.2571 3.56435 18.048 3.41325 17.8335 3.27V3.2685ZM20.5845 5.9535C20.2878 5.532 19.9604 5.13292 19.605 4.7595L20.691 3.7245C21.097 4.1535 21.4705 4.6085 21.8115 5.0895L20.5845 5.9535ZM21.7005 7.9815C21.6021 7.74365 21.4951 7.50949 21.3795 7.2795L22.719 6.6045C22.9838 7.13118 23.2094 7.67666 23.394 8.2365L21.969 8.706C21.8884 8.46129 21.7989 8.21962 21.7005 7.9815ZM22.4955 11.742C22.4833 11.2265 22.4332 10.7126 22.3455 10.2045L23.823 9.9495C23.923 10.5295 23.981 11.1145 23.997 11.7045L22.4955 11.742ZM22.299 14.049C22.349 13.795 22.3895 13.54 22.4205 13.284L23.91 13.4685C23.8377 14.0537 23.7224 14.6328 23.565 15.201L22.119 14.8005C22.188 14.5535 22.248 14.303 22.299 14.049ZM20.871 17.6175C21.147 17.1815 21.39 16.7275 21.6 16.2555L22.971 16.863C22.731 17.403 22.4535 17.922 22.1385 18.42L20.871 17.6175ZM19.425 19.425C19.608 19.242 19.783 19.053 19.95 18.858L21.087 19.8375C20.8945 20.0608 20.6939 20.277 20.4855 20.4855L19.425 19.425Z" fill="#D9D9D9"/>
                                    <path d="M12 1.5C10.2733 1.50012 8.57361 1.92607 7.05086 2.74011C5.52811 3.55415 4.22961 4.73115 3.27038 6.16687C2.31114 7.6026 1.72078 9.25272 1.55158 10.9711C1.38238 12.6895 1.63957 14.423 2.30036 16.0183C2.96115 17.6135 4.00514 19.0212 5.33988 20.1166C6.67462 21.212 8.2589 21.9613 9.95239 22.2982C11.6459 22.6351 13.3963 22.5492 15.0487 22.048C16.701 21.5468 18.204 20.6459 19.425 19.425L20.4855 20.4855C19.0901 21.8817 17.3722 22.9121 15.4834 23.4855C13.5945 24.0589 11.5934 24.1575 9.65739 23.7727C7.72133 23.3879 5.91008 22.5315 4.38411 21.2793C2.85815 20.0272 1.66459 18.418 0.909193 16.5943C0.153792 14.7707 -0.140129 12.7888 0.0534723 10.8244C0.247074 8.85999 0.922221 6.97365 2.01909 5.33253C3.11596 3.6914 4.60069 2.34617 6.34173 1.416C8.08277 0.485843 10.0261 -0.000523098 12 4.22187e-07V1.5Z" fill="#D9D9D9"/>
                                    <path d="M11.25 4.5C11.4489 4.5 11.6397 4.57902 11.7803 4.71967C11.921 4.86032 12 5.05109 12 5.25V13.065L16.872 15.849C17.0397 15.9502 17.1612 16.1129 17.2104 16.3024C17.2597 16.492 17.2329 16.6933 17.1358 16.8633C17.0386 17.0333 16.8788 17.1586 16.6905 17.2124C16.5022 17.2661 16.3003 17.2441 16.128 17.151L10.878 14.151C10.7632 14.0854 10.6678 13.9907 10.6014 13.8764C10.535 13.762 10.5 13.6322 10.5 13.5V5.25C10.5 5.05109 10.579 4.86032 10.7197 4.71967C10.8603 4.57902 11.0511 4.5 11.25 4.5Z" fill="#D9D9D9"/>
                                    </svg>
                                <span>Updates history</span>
                            </div>
                                <button>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                                      </svg>                                          
                                </button>
                        </div>
                        <div onclick="insider()" class="w-full bg-zinc-900/50 text-lg cursor-pointer text-gray-300 rounded-xl p-4 flex justify-between">
                            <div class="flex items-center space-x-2">
                                <svg class="w-6 h-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 3.5C4 2.67157 4.67157 2 5.5 2C6.32843 2 7 2.67157 7 3.5V14.5C7 15.3284 6.32843 16 5.5 16C4.67157 16 4 15.3284 4 14.5V3.5Z" fill="#D9D9D9"/>
                                    <path d="M5.52549 16.0638C4.69709 16.0708 4.01982 15.405 4.01277 14.5766C4.00572 13.7482 4.67154 13.0709 5.49994 13.0639L12.1087 13.0076C12.9371 13.0005 13.6144 13.6664 13.6214 14.4948C13.6285 15.3232 12.9626 16.0004 12.1342 16.0075L5.52549 16.0638Z" fill="#D9D9D9"/><rect x="4" y="18" width="4" height="4" rx="2" fill="#1E1E1E"/><rect x="17" y="2" width="3" height="4" rx="1.5" fill="#1E1E1E"/><rect x="17" y="8" width="3" height="14" rx="1.5" fill="#D9D9D9"/>
                                    </svg>
                                <span>HolaClient Insider</span>
                            </div>
                            Already an Insider
                        </div>
                    </div>
                </div>
            </div>
        </main>
            <%- include('../partials/footer') %>
        </div>
    </div>
    </div>
</body>
</html>