<link href="https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/cf4342c927.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/nanobar/0.4.2/nanobar.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
<script src="https://cdn.tailwindcss.com"></script>
<link href="/assets/default/app.css" rel="stylesheet">
<link rel="shortcut icon" href="https://cdn.holaclient.tech/logo.png" type="image/x-icon">
<link rel="icon" type="image/png" href="https://cdn.holaclient.tech/logo.png">
<title>HolaClient Admin</title>
<script>
    toastr.options = {
      closeButton: true,   
      progressBar: true,
      showHideTransition: 'slide',
      positionClass: 'toast-bottom-right',
      timeOut: 4000,
      extendedTimeOut: 1000,
      showDuration: 300,
      hideDuration: 300,
    };
  </script>
<style>
  .toast-success {
    background-color: #22bb33 !important;
    color: #ffffff !important;
  }
  .toast-error {
    background-color: #e81c0d !important;
    color: #ffffff !important;
  }
  .toast-warning {
    background-color: #1a1616 !important;
    color: #ffffff !important;
  }
  .toast-info {
    background-color: #02a1db !important;
    color: #ffffff !important;
  }
  </style>    