<%- include('./partials/head') %>

<body class="bg-zinc-950 relative items-center h-full">
    <div class="w-screen overflow-hidden">
        <div class="antialiased">
            <%- include('./partials/nav') %>
            <%- include('./partials/aside') %>
            <main
                class="p-4 md:ml-64 z-20 -mt-[58px] max-w-full pt-40 md:pt-20 max-h-full min-h-screen shadow-2xl shadow-black backdrop-blur-sm">
                <div id="content">
                    <div class="flex space-x-4 items-center">
                        <div
                            class="bg-zinc-800/50 h-max w-max group-hover:bg-zinc-900/50 group-hover:border-zinc-700 border border-zinc-800/80 backdrop-blur-3xl shadow text-gray-400 rounded-xl p-3">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                                <path d="M11.25 3v4.046a3 3 0 0 0-4.277 4.204H1.5v-6A2.25 2.25 0 0 1 3.75 3h7.5ZM12.75 3v4.011a3 3 0 0 1 4.239 4.239H22.5v-6A2.25 2.25 0 0 0 20.25 3h-7.5ZM22.5 12.75h-8.983a4.125 4.125 0 0 0 4.108 3.75.75.75 0 0 1 0 1.5 5.623 5.623 0 0 1-4.875-2.817V21h7.5a2.25 2.25 0 0 0 2.25-2.25v-6ZM11.25 21v-5.817A5.623 5.623 0 0 1 6.375 18a.75.75 0 0 1 0-1.5 4.126 4.126 0 0 0 4.108-3.75H1.5v6A2.25 2.25 0 0 0 3.75 21h7.5Z" />
                                <path d="M11.085 10.354c.03.297.038.575.036.805a7.484 7.484 0 0 1-.805-.036c-.833-.084-1.677-.325-2.195-.843a1.5 1.5 0 0 1 2.122-2.12c.517.517.759 1.36.842 2.194ZM12.877 10.354c-.03.297-.038.575-.036.805.23.002.508-.006.805-.036.833-.084 1.677-.325 2.195-.843A1.5 1.5 0 0 0 13.72 8.16c-.518.518-.76 1.362-.843 2.194Z" />
                            </svg>                              
                        </div>
                        <div class="flex flex-col justify-between w-full">
                            <h1 class="text-gray-200 font-semibold text-xl">Requests</h1>
                            <span class="text-gray-300 text-md">View all of your incoming & sent requests.</span>
                        </div>
                    </div>
                    <img src="https://cdn.holaclientx.tech/logo.png" alt="logo" onload="loadRequests()" class="w-0 h-0">
                    <div class="lg:flex mt-4 lg:justify-between">
                        <div class="w-full">
                          <div class="mb-4 rounded-xl">
                            <ul class="text-sm font-medium text-center text-gray-300 divide-x divide-gray-800/80 rounded-xl shadow sm:flex">
                              <li class="w-full" id="tab-all" onclick="showTab('all')">
                                <button class="inline-block w-full p-4 bg-zinc-900/50 hover:bg-zinc-900 hover:duration-300 duration-300 rounded-l-xl">All</button>
                              </li>
                              <li class="w-full" id="tab-incoming" onclick="showTab('incoming')">
                                <button class="inline-block w-full p-4 bg-zinc-900/50 hover:bg-zinc-900 hover:duration-300 duration-300">Incoming</button>
                              </li>
                              <li class="w-full" id="tab-sent" onclick="showTab('sent')">
                                <button class="inline-block w-full p-4 bg-zinc-900/50 hover:bg-zinc-900 hover:duration-300 duration-300">Sent</button>
                              </li>
                            </ul>
                          </div>
                          <div id="panels">
                            <div class="rounded-xl mb-4 space-y-2" id="panel-all">
                                
                            </div>
                            <div class="hidden rounded-xl mb-4 space-y-2" id="panel-incoming">

                            </div>
                            <div class="hidden rounded-xl mb-4 space-y-2" id="panel-sent">

                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </main>
            <%- include('./partials/footer') %>
        </div>
    </div>
    </div>
</body>
</html>