<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body class="bg-zinc-950 w-screen h-full overflow-x-hidden" style="background-image: url('https://cdn.holaclient.tech/production/X1/banners/plain.png'); background-repeat: no-repeat; background-size: cover;">
    <section class="w-screen h-screen flex justify-center items-center bg-gradient-to-br from-transparent to-zinc-950">
            <div class="relative overflow-hidden rounded-3xl bg-zinc-900/80 backdrop-blur-md w-max h-max p-[1px]">
                <div class="relative max-w-sm md:max-w-lg lg:max-w-xl xl:max-w-screen-md text-center z-20 w-full h-full p-8 bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-zinc-900 via-zinc-900 to-zinc-950/90 rounded-3xl">
                    <h1 class="text-zinc-200 text-2xl text-center font-nunito">Configure Pterodactyl</h1>
                  <div id="pterodactyl" class="grid grid-cols-1 md:grid-cols-2 w-full gap-4 mt-4">
                    <div class="flex flex-col text-left col-span-2">
                        <span class="text-gray-400 pl-1">Panel domain:</span>
                        <input id="domain" placeholder="https://panel.example.com" type="text" class="w-full p-2 bg-zinc-950/80 focus:bg-zinc-950/50 focus:border-black focus:duration-300 duration-300 text-gray-300 rounded-xl border border-zinc-800/80 outline-none">
                    </div>
                    <div class="flex flex-col text-left">
                        <span class="text-gray-400 pl-1">Application API key:</span>
                        <input id="app" placeholder="ptla_" type="text" class="w-full p-2 bg-zinc-950/80 focus:bg-zinc-950/50 focus:border-black focus:duration-300 duration-300 text-gray-300 rounded-xl border border-zinc-800/80 outline-none">
                    </div>
                    <div class="flex flex-col text-left">
                        <span class="text-gray-400 pl-1">Account API key:</span>
                        <input id="acc" placeholder="ptlc_" type="text" class="w-full p-2 bg-zinc-950/80 focus:bg-zinc-950/50 focus:border-black focus:duration-300 duration-300 text-gray-300 rounded-xl border border-zinc-800/80 outline-none">
                    </div>
                    <div class="flex flex-col text-left col-span-2">
                        <span class="text-gray-400 pl-1">Deployment fees:</span>
                        <input id="fees" placeholder="0" type="text" class="w-full p-2 bg-zinc-950/80 focus:bg-zinc-950/50 focus:border-black focus:duration-300 duration-300 text-gray-300 rounded-xl border border-zinc-800/80 outline-none">
                    </div>
                    <div class="flex flex-col text-left col-span-2">
                        <span class="text-gray-400 pl-1">Finalize:</span>
                        <button id="c" onclick="submit()" class="w-full p-2 text-center justify-center flex items-center bg-zinc-950/80 hover:bg-zinc-950/50 hover:border-black hover:duration-300 duration-300 text-gray-300 rounded-xl border border-zinc-800/80 outline-none">
                            Submit
                        </button>
                    </div>
                  </div>
                </div>
            </div>
    </section>
</body>