<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body class="bg-zinc-950 w-screen h-full overflow-x-hidden" style="background-image: url('https://cdn.holaclient.tech/production/X1/banners/plain.png'); background-repeat: no-repeat; background-size: cover;">
    <section class="w-screen h-screen flex justify-center items-center bg-gradient-to-br from-transparent to-zinc-950">
        
    </section>
</body>

</html>