<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HolaClient | Setup</title>
    <link href="/assets/common/tailwind.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="./assets/app.css">
    <script src="./assets/bundle.js"></script>
</head>

<body class="bg-zinc-950 overflow-hidden w-screen h-full">
    <div class="absolute -z-20 md:h-screen md:w-screen bg-no-repeat bg-cover" aria-hidden="true" style="background-image: url('https://cdn.holaclient.tech/production/X1/assets/pattern.png');"></div>
    <div class="w-screen h-full flex flex-col justify-center items-center">
        <h1 class="text-white text-xl md:text-2xl lg:text-3xl mt-10">Where do you want to import from?</h1>
        <div class="mt-12 w-full px-4 md:px-16 grid grid-cols-1 md:grid-cols-4 gap-4">
            <div class="bg-zinc-950/50 relative backdrop-blur-xl border border-zinc-800/80 flex flex-col items-center rounded-3xl w-full p-4">
                <img src="https://cdn.holaclient.tech/logo.png" class="w-24">
                <h1 class="text-gray-100 text-2xl">HolaClient</h1>
                <div class="bg-zinc-800/80 h-0.5 w-full rounded-full mx-4 my-2 relative"></div>
                <div class="w-full flex justify-between">
                    <p class="text-gray-300">Database:</p>
                    <p class="text-gray-200">SQLite</p>
                </div>
                <div class="w-full flex justify-between">
                    <p class="text-gray-300">Versions:</p>
                    <p class="text-gray-200">v1.5 - v1.5.8</p>
                </div>
                <div class="w-full flex justify-between">
                    <p class="text-gray-300">Conversion rate:</p>
                    <p class="text-gray-200">60%</p>
                </div>
                <div class="bg-zinc-800/80 h-0.5 w-full rounded-full mx-4 my-2 relative"></div>
                <div class="flex justify-between w-full items-center">
                    <a class="text-cyan-300" href="">GitHub</a>
                    <a class="text-cyan-300" href="">Website</a>
                    <a class="text-cyan-300" href="">Discord</a>
                </div>
            </div>
            <div class="bg-zinc-950/50 relative backdrop-blur-xl border border-zinc-800/80 flex flex-col items-center rounded-3xl w-full p-4">
                <img src="https://camo.githubusercontent.com/7cb58847a6ec030ae07f2b72b2c1aeae97b30f594fce315d485bdd48c5ee8c0e/68747470733a2f2f6d656469612e646973636f72646170702e6e65742f6174746163686d656e74732f3938343833373633363435373931383436352f313030303031343633343031323634373436342f67697068792e676966" class="w-24">
                <h1 class="text-gray-100 text-2xl">NorthClient</h1>
                <div class="bg-zinc-800/80 h-0.5 w-full rounded-full mx-4 my-2 relative"></div>
                <div class="w-full flex justify-between">
                    <p class="text-gray-300">Database:</p>
                    <p class="text-gray-200">SQLite</p>
                </div>
                <div class="w-full flex justify-between">
                    <p class="text-gray-300">Versions:</p>
                    <p class="text-gray-200">v1.5 - v2</p>
                </div>
                <div class="w-full flex justify-between">
                    <p class="text-gray-300">Conversion rate:</p>
                    <p class="text-gray-200">60%</p>
                </div>
                <div class="bg-zinc-800/80 h-0.5 w-full rounded-full mx-4 my-2 relative"></div>
                <div class="flex justify-between w-full items-center">
                    <a class="text-cyan-300" href="">GitHub</a>
                    <a class="text-cyan-300" href="">Website</a>
                    <a class="text-cyan-300" href="">Discord</a>
                </div>
            </div>
            <div class="bg-zinc-950/50 relative backdrop-blur-xl border border-zinc-800/80 flex flex-col items-center rounded-3xl w-full p-4">
                <img src="https://avatars.githubusercontent.com/u/117385445?s=200&v=4" class="w-24">
                <h1 class="text-gray-100 text-2xl">MythicalDash</h1>
                <div class="bg-zinc-800/80 h-0.5 w-full rounded-full mx-4 my-2 relative"></div>
                <div class="w-full flex justify-between">
                    <p class="text-gray-300">Database:</p>
                    <p class="text-gray-200">MySQL</p>
                </div>
                <div class="w-full flex justify-between">
                    <p class="text-gray-300">Versions:</p>
                    <p class="text-gray-200">v3</p>
                </div>
                <div class="w-full flex justify-between">
                    <p class="text-gray-300">Conversion rate:</p>
                    <p class="text-gray-200">60%</p>
                </div>
                <div class="bg-zinc-800/80 h-0.5 w-full rounded-full mx-4 my-2 relative"></div>
                <div class="flex justify-between w-full items-center">
                    <a class="text-cyan-300" href="">GitHub</a>
                    <a class="text-cyan-300" href="">Website</a>
                    <a class="text-cyan-300" href="">Discord</a>
                </div>
            </div>
            <div class="bg-zinc-950/50 relative backdrop-blur-xl border border-zinc-800/80 flex flex-col items-center rounded-3xl w-full p-4">
                <img src="https://avatars.githubusercontent.com/u/122883790?s=200&v=4" class="w-24 rounded-xl">
                <h1 class="text-gray-100 text-2xl">Heliactyl</h1>
                <div class="bg-zinc-800/80 h-0.5 w-full rounded-full mx-4 my-2 relative"></div>
                <div class="w-full flex justify-between">
                    <p class="text-gray-300">Database:</p>
                    <p class="text-gray-200">SQLite</p>
                </div>
                <div class="w-full flex justify-between">
                    <p class="text-gray-300">Versions:</p>
                    <p class="text-gray-200">v12 - v20</p>
                </div>
                <div class="w-full flex justify-between">
                    <p class="text-gray-300">Conversion rate:</p>
                    <p class="text-gray-200">60%</p>
                </div>
                <div class="bg-zinc-800/80 h-0.5 w-full rounded-full mx-4 my-2 relative"></div>
                <div class="flex justify-between w-full items-center">
                    <a class="text-cyan-300" href="">GitHub</a>
                    <a class="text-cyan-300" href="">Website</a>
                    <a class="text-cyan-300" href="">Discord</a>
                </div>
            </div>
            <div class="bg-zinc-950/50 relative text-gray-400 backdrop-blur-xl border border-zinc-800/80 flex flex-col items-center rounded-3xl w-full p-4">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-24 h-24">
                    <path fill-rule="evenodd" d="M10.5 3.75a6 6 0 0 0-5.98 6.496A5.25 5.25 0 0 0 6.75 20.25H18a4.5 4.5 0 0 0 2.206-8.423 3.75 3.75 0 0 0-4.133-4.303A6.001 6.001 0 0 0 10.5 3.75Zm2.25 6a.75.75 0 0 0-1.5 0v4.94l-1.72-1.72a.75.75 0 0 0-1.06 1.06l3 3a.75.75 0 0 0 1.06 0l3-3a.75.75 0 1 0-1.06-1.06l-1.72 1.72V9.75Z" clip-rule="evenodd" />
                  </svg>                  
                <h1 class="text-gray-100 text-2xl">Import from Cloud</h1>
                <p class="text-gray-300 text-sm">Requires encryption key or passphrase.</p>
            </div>
            <div class="bg-zinc-950/50 relative text-gray-400 backdrop-blur-xl border border-zinc-800/80 flex flex-col items-center rounded-3xl w-full p-4">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-24 h-24">
                    <path fill-rule="evenodd" d="M5.625 1.5H9a3.75 3.75 0 0 1 3.75 3.75v1.875c0 1.036.84 1.875 1.875 1.875H16.5a3.75 3.75 0 0 1 3.75 3.75v7.875c0 1.035-.84 1.875-1.875 1.875H5.625a1.875 1.875 0 0 1-1.875-1.875V3.375c0-1.036.84-1.875 1.875-1.875Zm6.905 9.97a.75.75 0 0 0-1.06 0l-3 3a.75.75 0 1 0 1.06 1.06l1.72-1.72V18a.75.75 0 0 0 1.5 0v-4.19l1.72 1.72a.75.75 0 1 0 1.06-1.06l-3-3Z" clip-rule="evenodd" />
                    <path d="M14.25 5.25a5.23 5.23 0 0 0-1.279-3.434 9.768 9.768 0 0 1 6.963 6.963A5.23 5.23 0 0 0 16.5 7.5h-1.875a.375.375 0 0 1-.375-.375V5.25Z" />
                  </svg>                                  
                <h1 class="text-gray-100 text-2xl">Import from File</h1>
                <p class="text-gray-300 text-sm">Might require an encryption key.</p>
            </div>
        </div>
        <div class="absolute bottom-0 mb-4 text-center">
            <h1 class="text-white">© All respective creators, Trademarks are owned by their owners.</h1>
        </div>
    </div>
</body>

</html>