<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="shortcut icon" href="<%= settings.logo.url %>" type="image/x-icon">
        <title>HolaClient | 200</title>
        <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&amp;display=swap" rel="stylesheet"/>
    </head>
    <body class="min-h-screen bg-white selection:bg-primary/10 selection:text-primary dark:bg-gray-900">
        <div>
            <div class="mx-auto px-4 pt-56 sm:px-12 xl:max-w-6xl xl:px-0">
                <div class="relative z-10 lg:w-2/3">
                    <div class="flex flex-col">
                        <span class="bg-gradient-to-b from-orange-400 to-secondary bg-clip-text font-mono text-5xl font-bold text-transparent sm:text-6xl lg:text-8xl">200 </span>
                        <h1 class="mb-20 mt-12 text-4xl font-bold text-gray-700 dark:text-white md:text-5xl">HTTP OK</h1>
                        <a href="<%= settings.website.hostname %>" class="relative flex h-9 w-max items-center justify-center px-4 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition-transform before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-primaryLight lg:before:border lg:before:border-gray-200 lg:before:bg-gray-100 lg:dark:before:bg-gray-800">
                            <span class="relative text-sm font-semibold text-white dark:text-gray-900 lg:text-primary lg:dark:text-white">Go back home</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
