<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HolaClient | Setup</title>
    <% if (installed == true) { %>
        <script>
            window.location.href = "/";
        </script>
    <% } %>
    <link rel="stylesheet" type="text/css" href="https://cdn.holaclientx.tech/production/assets/toastr.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.holaclientx.tech/production/assets/toastr.js"></script>
    <% if (process.env.APP_ENV !== "production") { %>
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="/assets/setup/default/app.dev.css" rel="stylesheet">
        <script src="/assets/setup/default/app.dev.js"></script>
    <% } else { %>
        <link href="/assets/setup/default/app.css" rel="stylesheet" rel="preload">
        <script src="/assets/setup/default/app.js"></script>
        <link href="/assets/common/tailwind.css" rel="stylesheet" rel="preload">
    <% } %>
</head>