@import url(https://fonts.googleapis.com/css2?family=Nunito&family=Urbanist&family=Quicksand&family=Karla&family=Raleway&family=Inspiration&family=Rajdhani&family=Poppins&display=swap);
body {
    font-family: quicksand;
    overflow-x: hidden
}
.font-nunito {
    font-family: nunito
}
.font-urbanist {
    font-family: urbanist
}
.font-karla {
    font-family: karla
}
.font-quicksand {
    font-family: quicksand
}
.font-poppins {
    font-family: poppins
}
.font-raleway {
    font-family: raleway
}
.font-inspiration {
    font-family: inspiration
}
.font-rajdhani {
    font-family: rajdhani
}
::selection {
    background: rgba(255, 255, 255, .2)
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px
}
::-webkit-scrollbar-thumb {
    background-color: rgba(156, 163, 175);
    border-radius: 3px
}
::-webkit-scrollbar-track {
    background-color: transparent;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: inherit;
    background-size: cover;
    z-index: 0
}