<footer class="md:ml-64 px-4 py-4 z-50 bg-zinc-900/20 backdrop-blur-3xl left-0 right-0 bottom-0">
    <div class="w-full flex text-gray-300 justify-between">
        <p>
            &copy;
            <script>document.write(new Date().getFullYear());</script> <a class="text-amber-300 font-nunito"><%= appearance.name %></a>
        </p>
        <p>
            <%= lang.footer.poweredby %> <a class="text-amber-300 font-nunito" href="https://github.com/HolaClient/X">HolaClient-X0</a>
        </p>
    </div>
</footer>