<%- include('./partials/head') %>

    <body class="bg-zinc-950">
        <div class="antialiased">
            <%- include('./partials/topnav') %>
                <%- include('./partials/sidebar') %>
                    <main class="p-4 md:ml-64 h-auto pt-20">
                        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 w-full">

                            <div class="bg-zinc-900 text-gray-300 rounded-lg p-2 px-4">
                                <h1 class="text-white text-xl">Admin UI version</h1>
                                <span>1</span>
                            </div>

                            <div class="bg-zinc-900 text-gray-300 rounded-lg p-2 px-4">
                                <h1 class="text-white text-xl">Client UI version</h1>
                                <span>1.5.9</span>
                            </div>

                            <div class="bg-zinc-900 text-gray-300 rounded-lg p-2 px-4">
                                <h1 class="text-white text-xl">Security patch level</h1>
                                <span>1 October 2023</span>
                            </div>

                            <div class="bg-zinc-900 text-gray-300 rounded-lg p-2 px-4">
                                <h1 class="text-white text-xl">Build number</h1>
                                <span>HCP.1023PRE.ZENITH</span>
                            </div>

                            <div class="bg-zinc-900 text-gray-300 rounded-lg p-2 px-4">
                                <h1 class="text-white text-xl">Version</h1>
                                <span>1.5.9</span>
                            </div>

                            <div class="bg-zinc-900 text-gray-300 rounded-lg p-2 px-4">
                                <h1 class="text-white text-xl">Version Codename</h1>
                                <span>Zenith</span>
                            </div>

                            <div class="bg-zinc-900 text-gray-300 rounded-lg p-2 px-4">
                                <h1 class="text-white text-xl">Type</h1>
                                <span>Pre-release</span>
                            </div>

                            <div class="bg-zinc-900 text-gray-300 rounded-lg p-2 px-4">
                                <h1 class="text-white text-xl">Release date</h1>
                                <span>04 January 2023</span>
                            </div>

                        </div>
        </div>
        </main>