<head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@0.7.4/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@0.7.4/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300;400;500;600;700&display=swap" rel="stylesheet" />
    <script src="//m.servedby-buysellads.com/monetization.js" type="text/javascript"></script>
    <script defer data-domain="tailwindcomponents.com" src="https://plausible.io/js/script.js"></script>
    <script defer data-site="tailwindcomponents.com" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap" rel="stylesheet" />
    <title>HolaClient Installer</title>
    <link rel="icon" type="image/png" href="https://media.discordapp.net/attachments/1074689223250153513/1081090224408510575/hsw.png">
</head>
<body class="bg-gradient-to-b from-gray-900 to-gray-600 bg-gradient-to-r"><br>
<h3 class="bg-[radial-gradient(138.06%_1036.51%_at_95.25%_-2.54%,_#7ED4FD_14.06%,#709DF7_51.02%,#4D78EF_79.09%)] bg-clip-text text-3xl text-center font-medium font-bold leading-[1.2] tracking-tighter text-transparent">
    HolaClient Installation Wizard
</h3>
<h3 class="text-white text-3xl text-center">
Once Saved, The dashboard will stop. Start it again and watch it work!
</h3>
<div class="px-8 pt-6 pb-8 mb-4 flex flex-col my-2">
    <div class="-mx-3 md:flex mb-6">
      <div class="md:w-1/2 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
          Company Name
        </label>
        <input id="name" class="appearance-none block w-full bg-transparent text-grey-darker border border-white rounded py-3 px-4"  type="text" placeholder="HolaClient">
        </div>
      <div class="md:w-1/2 px-3">
        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-last-name">
          Company Logo
        </label>
        <input id="logo" class="appearance-none block w-full bg-transparent text-grey-darker border border-white rounded py-3 px-4"  type="text" placeholder="https://yourlogourl.png">
      </div>
    </div>
    <div class="-mx-3 md:flex mb-6">
        <div class="md:w-1/2 px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
            Company Discord
          </label>
          <input id="discord" class="appearance-none block w-full bg-transparent text-grey-darker border border-white rounded py-3 px-4"  type="text" placeholder="https://discord.gg/CvqRH9TrYK">
        </div>
        <div class="md:w-1/2 px-3">
          <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-last-name">
            Company Website
          </label>
          <input id="website" class="appearance-none block w-full bg-transparent text-grey-darker border border-white rounded py-3 px-4"  type="text" placeholder="https://holaclient.tech">
        </div>
      </div>
      <div class="-mx-3 md:flex mb-6">
        <div class="md:w-1/2 px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
            Pterodactyl Domain
          </label>
          <input id="domain" class="appearance-none block w-full bg-transparent text-grey-darker border border-white rounded py-3 px-4"  type="text" placeholder="https://panel.holaclient.tech">
        </div>
        <div class="md:w-1/2 px-3">
          <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-last-name">
            Pterodactyl API Key(with all permissions)
          </label>
          <input id="key" class="appearance-none block w-full bg-transparent text-grey-darker border border-white rounded py-3 px-4"  type="text" placeholder="ptla_syugeyugdeerg">
        </div>
      </div>
      <div class="-mx-3 md:flex mb-6">
        <div class="md:w-1/2 px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
            Discord Oauth2 ID
          </label>
          <input id="id" class="appearance-none block w-full bg-transparent text-grey-darker border border-white rounded py-3 px-4"  type="text" placeholder="11021213131">
        </div>
        <div class="md:w-1/2 px-3">
          <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-last-name">
            Discord Oauth2 Secret
          </label>
          <input id="secret" class="appearance-none block w-full bg-transparent text-grey-darker border border-white rounded py-3 px-4"  type="text" placeholder="efmyga47u-I&u76e">
        </div>
      </div>
      <div class="-mx-3 md:flex mb-6">
        <div class="md:w-1/2 px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
            Discord Oauth2 link
          </label>
          <input id="link" class="appearance-none block w-full bg-transparent text-grey-darker border border-white rounded py-3 px-4"  type="text" placeholder="https://client.holaclient.tech">
        </div>
        <div class="md:w-1/2 px-3">
          <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-last-name">
            Default RAM
          </label>
          <input id="ram" class="appearance-none block w-full bg-transparent text-grey-darker border border-white rounded py-3 px-4"  type="text" placeholder="3072">
        </div>
      </div>
      <div class="-mx-3 md:flex mb-6">
        <div class="md:w-1/2 px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
            Default DISK
          </label>
          <input id="disk" class="appearance-none block w-full bg-transparent text-grey-darker border border-white rounded py-3 px-4"  type="text" placeholder="10240">
        </div>
        <div class="md:w-1/2 px-3">
          <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-last-name">
            Default CPU
          </label>
          <input id="cpu" class="appearance-none block w-full bg-transparent text-grey-darker border border-white rounded py-3 px-4"  type="text" placeholder="100">
        </div>
      </div>
      <div class="-mx-3 md:flex mb-6">
        <div class="md:w-1/2 px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
            Default Slots
          </label>
          <input id="slots" class="appearance-none block w-full bg-transparent text-grey-darker border border-white rounded py-3 px-4"  type="text" placeholder="1">
        </div>
        <div class="md:w-1/2 px-3">
          <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-last-name">
            &nbsp;
          </label>
          <button onclick="finishsetup()" class="block w-full group rounded-2xl h-12 w-48 bg-green-500 font-bold text-lg text-white relative">
            Submit
        </button>        </div>
      </div>
  </div>
  <!-- Handlers -->
<script>
function finishsetup() {
  const nameValue = document.querySelector('#name').value;
  const logoValue = document.querySelector('#logo').value;
  const discordValue = document.querySelector('#discord').value;
  const websiteValue = document.querySelector('#website').value;
  const domainValue = document.querySelector('#domain').value;
  const keyValue = document.querySelector('#key').value;
  const idValue = document.querySelector('#id').value;
  const secretValue = document.querySelector('#secret').value;
  const linkValue = document.querySelector('#link').value;
  const ramValue = document.querySelector('#ram').value;
  const diskValue = document.querySelector('#disk').value;
  const cpuValue = document.querySelector('#cpu').value;
  const slotValue = document.querySelector('#slots').value;

  const data = {
    name: nameValue,
    logo: logoValue,
    discord: discordValue,
    website: websiteValue,
    domain: domainValue,
    key: keyValue,
    id: idValue,
    secret: secretValue,
    link: linkValue,
    ram: ramValue,
    disk: diskValue,
    cpu: cpuValue,
    slot: slotValue
  };

const xhr = new XMLHttpRequest();
xhr.open('POST', '/setup');
xhr.setRequestHeader('Content-Type', 'application/json');
xhr.send(JSON.stringify(data));
}
</script>