<a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
<script src="/assets/default/js/jquery.min.js"></script>
<script src="/assets/default/js/popper.min.js"></script>
<script src="/assets/default/js/bootstrap.min.js"></script>
<script src="/assets/default/plugins/simplebar/js/simplebar.js"></script>
<script src="/assets/default/js/sidebar-menu.js"></script>
<script src="/assets/default/js/app-script.js"></script>
