<head>
    <title>CitricNode</title>
    <link rel="stylesheet" href="../assets/tailwind.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/@popperjs/core@2.10.1/dist/umd/popper.min.js"></script>
    <!-- Inter font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    /* The Modal (background) */
    .modal {
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        transition: 0.5s;
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 40px;
        width: 30%;
        border-radius: 16px;
        margin-top: 12%;
        transition: 0.5s
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        transition: 0.5s
    }
</style>

<body class="bg-gray-100" style="font-family: 'Inter', sans-serif;">
    <%- include('components/navigation') %>
    <div class="md:pl-48 flex flex-col flex-1">
      <main class="flex-1">
        <div class="py-6">
          <div class="max-w-7xl pt-8 mx-auto px-4 sm:px-6 md:px-8">
            <!-- Replace with your content -->
            <% if (req.session.password) { %>
                <div class="rounded-md bg-green-800 p-4 mb-8">
                  <div class="flex">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: solid/information-circle -->
                      <svg class="h-5 w-5 text-green-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
                      </svg>
                    </div>
                    <div class="ml-3 flex-1 md:flex md:justify-between">
                      <p class="text-sm text-green-400">Password updated to: <code><%= req.session.password %></code></p>
                    </div>
                  </div>
                </div>
                <% } %>
                <% if (req.query.err == "REF") { %>
                <div class="rounded-md bg-red-800 p-4 mb-8">
                  <div class="flex">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: solid/information-circle -->
                      <svg class="h-5 w-5 text-red-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
                      </svg>
                    </div>
                    <div class="ml-3 flex-1 md:flex md:justify-between">
                      <p class="text-sm text-red-400">There was an issue with your browser during the creation of the LV link.</p>
                    </div>
                  </div>
                </div>
                <% } %>
                <% if (req.query.err == "CODE") { %>
                <div class="rounded-md bg-red-800 p-4 mb-8">
                  <div class="flex">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: solid/information-circle -->
                      <svg class="h-5 w-5 text-red-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
                      </svg>
                    </div>
                    <div class="ml-3 flex-1 md:flex md:justify-between">
                      <p class="text-sm text-red-400">There was an issue with your browser during the creation of the LV link.</p>
                    </div>
                  </div>
                </div>
                <% } %>
                <% if (req.query.err == "DAILYLIMIT") { %>
                <div class="rounded-md bg-red-800 p-4 mb-8">
                  <div class="flex">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: solid/information-circle -->
                      <svg class="h-5 w-5 text-red-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
                      </svg>
                    </div>
                    <div class="ml-3 flex-1 md:flex md:justify-between">
                      <p class="text-sm text-red-400">You've reached the daily limit for the amount of links you can create.</p>
                    </div>
                  </div>
                </div>
                <% } %>
                <% if (req.query.err == "TOOFAST") { %>
                <div class="rounded-md bg-red-800 p-4 mb-8">
                  <div class="flex">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: solid/information-circle -->
                      <svg class="h-5 w-5 text-red-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
                      </svg>
                    </div>
                    <div class="ml-3 flex-1 md:flex md:justify-between">
                      <p class="text-sm text-red-400">You've been using Linkvertise earning too much. Wait 10 minutes and try again.</p>
                    </div>
                  </div>
                </div>
                <% } %>
                <% if (req.query.err == "none") { %>
                <div class="rounded-md bg-green-800 p-4 mb-8">
                  <div class="flex">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: solid/information-circle -->
                      <svg class="h-5 w-5 text-green-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
                      </svg>
                    </div>
                    <div class="ml-3 flex-1 md:flex md:justify-between">
                      <p class="text-sm text-green-400">Success! 5 Lemons have been added to your balance.</p>
                    </div>
                  </div>
                </div>
                <% } %>
            <!-- This example requires Tailwind CSS v2.0+ -->

            <div class="flex flex-col items-center justify-center h-full mt-8">
              <img src="https://cdn.discordapp.com/attachments/1023580894688194620/1098762202271457310/Copy_of_Untitled_Design_11.png" class="w-24 h-24 bg-white p-2 rounded-lg" />
              <p class="text-center text-2xl font-bold text-gray-900 mt-6 tracking-tight">You are harvesting lemons</p>
              <p class="text-center text-md font-medium text-gray-700 mb-2">1 lemon will be added to your basket per minute</p>
              <p class="text-center text-gray-500">Countdown: <span id="arciotimer"></span> seconds</p>
              <p class="text-center text-gray-500">Basket: <span id="arciogainedcoins">0</span> lemons</p>
            </div>

                                                      <script>
                                                          <%- arcioafktext %>
                                                      </script>
                                                    
                                                

  
            <!-- /End replace -->
          </div>
        </div>
      </main>
    </div>
  </div>
</body>