<head>
    <title>CitricNode</title>
    <link rel="stylesheet" href="../assets/tailwind.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/@popperjs/core@2.10.1/dist/umd/popper.min.js"></script>

    <!-- Inter font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body class="bg-gray-100" style="font-family: 'Inter', sans-serif;">
    <%- include('components/navigation') %>
    <div class="md:pl-48 flex flex-col flex-1">
      <main class="flex-1">
        <div class="py-6">
          <div class="max-w-7xl pt-8 mx-auto px-4 sm:px-6 md:px-8">
            <!-- Replace with your content -->
            <!-- This example requires Tailwind CSS v2.0+ -->

            <h3 class="text-lg leading-6 font-medium text-gray-900">
                Basket visualisation
            </h3>
            <p class="mt-1 max-w-2xl text-sm mb-8 text-gray-500">
                You currently have <%= coins %> lemons in your basket.
            </p>
            <% for (var i = 0; i < coins; i++) { %>
                &#x1F34B; <!-- lemon emoji -->
            <% } %>           

            <!-- /End replace -->
          </div>
        </div>
      </main>
    </div>
  </div>
</body>